DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DEPLOY_GUILD_ID=
DATABASE_FILE=./data/cloudy.json
DASHBOARD_API_PORT=3000
DASHBOARD_API_HOST=0.0.0.0
DASHBOARD_ORIGIN=https://your-cloudy-dashboard.vercel.app
DASHBOARD_API_KEY=
